header, nav, main, footer {
    max-width: 75rem;
    margin: auto;
}


.parentHero{
    p {font-size:3rem; padding-left: 3rem;}
}

.cards {
    section{p {padding: 0 0;}}
}

//reviews
div.reviewWrapper {
    border-radius: 8px;
}